body {
    background-color: #121212;
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container { text-align: center; }
#video-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}
video {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #6c5ce7; /* DISCUSS r…ôngi */
}
button {
    padding: 10px 20px;
    background-color: #6c5ce7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}